@-webkit-keyframes background-scene-slide {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -400px 0px;
  }
}

@keyframes background-scene-slide {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -400px 0px;
  }
}

.background-slow-transition {
  -webkit-animation: background-scene-slide 1000s linear infinite;
  -moz-animation: background-scene-slide 1000s linear infinite;
  -ms-animation: background-scene-slide 1000s linear infinite;
  -o-animation: background-scene-slide 1000s linear infinite;
  animation: background-scene-slide 1000s linear infinite;
}
