:root {
  --sprite-size: 1;
}

@-webkit-keyframes idle-anim {
  from {
    background-position: 0px -2px;
  }
  to {
    background-position: -128px -2px;
  }
}

@keyframes idle-anim {
  from {
    background-position: 0px -2px;
  }
  to {
    background-position: -128px -2px;
  }
}

.base-sprite {
  width: 128px;
  height: 128px;
  background-image: url("../../images/spritesheets/spritesheet.png");
  background-repeat: no-repeat;
  image-rendering: pixelated;
  transform: scale(var(--sprite-size));
}

.sprite-centered {
  transform: translateY(-100%) scale(var(--sprite-size));
}

.gender-sprite {
  -webkit-animation: gender-change 3s steps(5) infinite;
  animation: gender-change 3s steps(5) infinite;
}

.pornography-sprite {
  -webkit-animation: pornography-censor 3s steps(5) infinite;
  animation: pornography-censor 3s steps(5) infinite;
}

.euthanasia-sprite {
  -webkit-animation: injection 1s steps(5) infinite;
  animation: injection 1s steps(5) infinite;
}

.brain-sprite {
  -webkit-animation: ejection 5s steps(5) infinite;
  animation: ejection 5s steps(5) infinite;
}

.idle-hero-sprite {
  -webkit-animation: idle 1s steps(4) infinite;
  animation: idle 1s steps(4) infinite;
}

.shocked-hero-sprite {
  -webkit-animation: shock 3s steps(2) infinite;
  animation: shock 3s steps(2) infinite;
}

.punching-hero-sprite {
  -webkit-animation: punch 3s steps(3) infinite;
  animation: punch 3s steps(3) infinite;
}

@keyframes injection {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -640px 0px;
  }
}

@keyframes gender-change {
  from {
    background-position: 0px -128px;
  }
  to {
    background-position: -640px -128px;
  }
}

@keyframes pornography-censor {
  from {
    background-position: 0px -256px;
  }
  to {
    background-position: -640px -256px;
  }
}

@keyframes ejection {
  from {
    background-position: 0px -384px;
  }
  to {
    background-position: -640px -384px;
  }
}

@keyframes idle {
  from {
    background-position: 0px -512px;
  }
  to {
    background-position: -512px -512px;
  }
}

@keyframes shock {
  from {
    background-position: -384px -512px;
  }
  to {
    background-position: -640px -512px;
  }
}

@keyframes punch {
  from {
    background-position: 0px -640px;
  }
  to {
    background-position: -384px -640px;
  }
}
