@-webkit-keyframes idle-anim {
  from {
    background-position: 0px -2px;
  }
  to {
    background-position: -128px -2px;
  }
}

@keyframes idle-anim {
  from {
    background-position: 0px -2px;
  }
  to {
    background-position: -128px -2px;
  }
}

@-webkit-keyframes walk-anim {
  0% {
    background-position: 0px -36px;
  }
  to {
    background-position: -192px -36px;
  }
}

@keyframes walk-anim {
  0% {
    background-position: 0px -36px;
  }
  to {
    background-position: -192px -36px;
  }
}

.interaction {
  display: flex;
  width: 5rem;
  padding-left: 50px;
}

.sprite {
  width: 31px;
  height: 32px;
  transform: scale(2);
  background-repeat: no-repeat;
  background-image: url("../../images/hero-spritesheet.png");
  image-rendering: pixelated;

  -webkit-animation: idle-anim 0.8s steps(4) infinite;
  animation: idle-anim 0.8s steps(4) infinite;
}

.walk {
  -webkit-animation: walk-anim 0.9s steps(6) infinite;
  -moz-animation: walk-anim 0.9s steps(6) infinite;
  -ms-animation: walk-anim 0.9s steps(6) infinite;
  -o-animation: walk-anim 0.9s steps(6) infinite;
  animation: walk-anim 0.9s steps(6) infinite;
}
